# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**

- Learn about languages used in data science
- Popular tools used in data science
- How to use jupyter, R, and GitHub

Some of the popular languages that Data Scientist use are:
1. R
2. Python 
3. Java

Some of the commonly used libraries used by Data Scientists include: 
1. ggplot2
2. Matplotlib
3. Pandas
4. Tensorflow

|Data Science Tools |
| ------ | 
| Jupyter Notebook | 
| Spyder | 
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author

Sara Kullstr√∂m